<mat-card style="height: 100%;">
    <img mat-card-image [src]="this.article.image_url" style="height: 200px; object-fit: cover;" alt="Image">
    <mat-card-header>
      <mat-card-subtitle>{{this.article.published_at}}</mat-card-subtitle>
      <mat-card-title>{{this.article.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{tuncatedSummary}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="read-more-btn" (click)="goToPost()">
        Read more
      </button>
    </mat-card-actions>
</mat-card>
